<% @Include File="head.html" EnableScript="True" %>
<div class="row-fluid">
    <div class="innerAll">
        <div class="span3">
            <a href="" class="widget-stats">
		        <span class="glyphicons imac"><i></i></span>
		        <span class="txt">系统面板</span>
		        <div class="clearfix"></div>
	        </a>
        </div>
        <div class="span3">
            <a href="" class="widget-stats">
		        <span class="glyphicons settings"><i></i></span>
		        <span class="txt">模板设置</span>
		        <div class="clearfix"></div>
	        </a>
        </div>
        <div class="span3">
            <a href="" class="widget-stats">
		        <span class="glyphicons pencil"><i></i></span>
		        <span class="txt">文章面板</span>
		        <div class="clearfix"></div>
	        </a>
        </div>
        <div class="span3">
            <a href="" class="widget-stats">
		        <span class="glyphicons user"><i></i></span>
		        <span class="txt">用户面板</span>
		        <div class="clearfix"></div>
	        </a>
        </div>
    </div>
</div>
<% @Include File="foot.html" EnableScript="True" %>
