<% @SetData Name="PageScript" PreEnableScript="True" %>
    <script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
<% @End %>
<% @SetData Name="PageCSS" PreEnableScript="True" %>
	<link href="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" rel="stylesheet" />
<% @End %>
<% @SetData Name="PageClass" %>attrlist<% @End %>
<% @Include File="head.html" EnableScript="True" Config="admin_zh-cn" %>
<div class="innerLR innerT">
    <div class="widget">
		<!-- Widget heading -->
		<div class="widget-head">
			<h3 class="heading">开启多站点支持</h3>
		</div>
		<!-- // Widget heading END -->
		<div class="widget-body">
            <div class="toggle-button">
				<input id="IsWebRelatedSwitch" type="checkbox"
                <% @Tag Provider="Data" Name="Item.IsWebRelated" Mode="Compare" CompareMode="Equal" CompareValue="True" %>checked="checked"<% @End %>
                <% @Tag Provider="Data" Name="Item.IsActive" Mode="Compare" CompareMode="NotEqual" CompareValue="True" %>disabled="disabled"<% @End %> />
			</div>
		</div>
	</div>
    <div class="widget">
		<!-- Widget heading -->
		<div class="widget-head">
			<h3 class="heading">当前已有类型列表</h3>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
            <div  class="attrs">
                <!-- Table -->
			    <table class="table table-bordered table-mid">
				    <!-- Table heading -->
				    <thead>
					    <tr>
						    <th>名称</th>
                            <th>标识</th>
						    <th>类型</th>
						    <th>默认值</th>
                            <th>模板</th>
                            <th>分隔</th>
                            <th>复值</th>
                            <th>空值</th>
                            <th>描述</th>
                            <th>操作</th>
					    </tr>
				    </thead>
				    <!-- // Table heading END -->
				    <!-- Table body -->
				    <tbody>
					    <!-- Table row -->
                        <% @Data Provider="Data" Name="Attributes" XsltParameter="{ CurrentTypeID='Data:Item.ID' CurrentTypeActive='Data:Item.IsActive' Ext='Config:ext' }" %>
					        <tr class="item{ID}">
						        <td><xsl:value-of select="Name" /></td>
                                <td><xsl:value-of select="Key" /></td>
						        <td><xsl:value-of select="Type" /></td>
                                <td>
                                    <xsl:choose>
                                        <xsl:when test="string-length(Default) > 0">
                                            <xsl:value-of select="Default" />
                                        </xsl:when>
                                        <xsl:otherwise>
                                            <i>Null</i>
                                        </xsl:otherwise>
                                    </xsl:choose>
                                </td>
                                <td><xsl:value-of select="DisplayName" /></td>
                                <td><xsl:value-of select="Split" /></td>
                                <td><xsl:value-of select="IsMultiple" /></td>
                                <td><xsl:value-of select="IsNull" /></td>
                                <td><xsl:value-of select="Description" /></td>
						        <td>
                                    <xsl:choose>
                                        <xsl:when test="$CurrentTypeActive = 'False'">
                                            <xsl:choose>
                                                <xsl:when test="$CurrentTypeID = TypeID">
                                                    <a class="btn" href="javascript:EditItem({ID})">编辑</a>
                                                    <a class="btn delete ajaxlink" ajax-confim="确认删除该字段?" ajax-data="{{ ID:{ID} }}" ajax-success="UpdateContent()" href="/entityAction_attr_del.{$Ext}">删除</a>
                                                </xsl:when>
                                                <xsl:otherwise>
                                                    <a href="/entityType_edit_{TypeID}.{$Ext}">进入父级类型操作</a>
                                                </xsl:otherwise>
                                            </xsl:choose>
                                        </xsl:when>
                                        <xsl:otherwise>
                                            在类型已启用时不可编辑
                                        </xsl:otherwise>
                                    </xsl:choose>
                                </td>
					        </tr>
                        <% @End %>
					    <!-- // Table row END -->
				    </tbody>
				    <!-- // Table body END -->
			    </table>
			    <!-- // Table END -->
                <hr />
                <% @Tag Provider="Data" Name="Item.IsActive" Mode="Compare" CompareMethod="Equal" CompareValue="False" EnableScript="True" %>
                <form id="AddForm" action="/entityAction_attr_add.html" method="post">
                    <input type="hidden" name="TypeID" value="<% @Tag Provider="Data" Name="Item.ID" %>" />
                    <input type="hidden" name="ID" value="" />
                    <div class="row-fluid">
                        <div class="span3">
                            <label>名称</label>
                            <input type="text" name="Name" />
                        </div>
                        <div class="span3">
                            <label>标识</label>
                            <input type="text" name="Key" />
                        </div>
                        <div class="span6">
                            <label>类型</label>
                            <select id="typeName" style="width:150px">
                                <option value="System.Data.DbType.AnsiString">AnsiString(x)</option>
                                <option value="System.Data.DbType.Binary">Binary(x)</option>
                                <option value="System.Data.DbType.Byte">Byte</option>
                                <option value="System.Data.DbType.Boolean">Boolean</option>
                                <option value="System.Data.DbType.Currency">Currency</option>
                                <option value="System.Data.DbType.Date">Date</option>
                                <option value="System.Data.DbType.DateTime">DateTime</option>
                                <option value="System.Data.DbType.Decimal">Decimal(x,y)</option>
                                <option value="System.Data.DbType.Double">Double</option>
                                <option value="System.Data.DbType.Guid">Guid</option>
                                <option value="System.Data.DbType.Int16">Int16</option>
                                <option value="System.Data.DbType.Int32">Int32</option>
                                <option value="System.Data.DbType.Int64">Int64</option>
                                <option value="System.Data.DbType.Object">Object</option>
                                <option value="System.Data.DbType.SByte">SByte</option>
                                <option value="System.Data.DbType.Single">Single</option>
                                <option value="System.Data.DbType.String">String</option>
                                <option value="System.Data.DbType.Time">Time(x)</option>
                                <option value="System.Data.DbType.UInt16">UInt16</option>
                                <option value="System.Data.DbType.UInt32">UInt32</option>
                                <option value="System.Data.DbType.UInt64">UInt64</option>
                                <option value="System.Data.DbType.VarNumeric">VarNumeric(x,y)</option>
                                <option value="System.Data.DbType.AnsiStringFixedLength">AnsiStringFixedLength(x)</option>
                                <option value="System.Data.DbType.StringFixedLength">StringFixedLength</option>
                                <option value="System.Data.DbType.Xml">Xml</option>
                                <option value="System.Data.DbType.DateTime2">DateTime2(x)</option>
                                <option value="System.Data.DbType.DateTimeOffset">DateTimeOffset(x)</option>
                            </select>
                            <input id="typeLength" style="width:50px" type="text" value="" />
                            <input type="hidden" name="Type"/>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <label>默认值</label>
                            <input name="Default" type="text" value="" />
                        </div>
                        <div class="span4">
                            <label>模板</label>
                            <select name="Display">
                                <% @Data Provider="Procedure" Command="Select [ID],[Name] from [EntityAttributeDisplay]" %>
                                    <option value="{ID}"><xsl:value-of select="Name" /></option>
                                <% @End %>
                            </select>
                        </div>
                        <div class="span4">
                            <div class="row-fluid">
                                <div class="span3">
                                    <label>多值</label>
                                    <input type="checkbox" name="IsMultiple" value="True"/>
                                </div>
                                <div class="span3">
                                    <label>分隔符</label>
                                    <input type="text" maxlength="1" style="width:7px" value="," name="Split" />
                                </div>
                                <div class="span6">
                                    <label>空值</label>
                                    <input type="checkbox" name="IsNull" value="True"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span10">
                            <label>描述</label>
                            <input class="full" type="text" name="Description" />
                        </div>
                        <div class="span2">
                            <label>&nbsp;</label>
                            <input type="button" class="btn" value="新增" onclick="ajaxAddForm()" />
                        </div>
                    </div>
                </form>
                <% @End %>
            </div>
		</div>
	</div>
</div>
<% @Include File="foot.html" EnableScript="True" Config="admin_zh-cn" %>
<script type="text/javascript">
    var webRelated = $('#IsWebRelatedSwitch').is(':checked');

    $('#IsWebRelatedSwitch').change(function (evt) {
        var val = $('#IsWebRelatedSwitch').is(':checked');
        if (val != webRelated) {
            $('#IsWebRelatedSwitch').attr('disabled', 'disabled');
            $('.toggle-button').toggleButtons('toggleActivation');
            webRelated = val;
        }
    })

    function ajaxAddForm() {
        $('input[type=hidden][name=Type]').val($("#typeName").val() + "|" + $("#typeLength").val());
        $("#AddForm").ajaxSubmit(function (data) {
            var result = eval('(' + data + ')');
            if (result.status == "success") {
                UpdateContent();
            } else {
                notyfy({ text: result.message, type: 'error', layout: 'top' });
            }
        })
    }

    function EditItem(id) {
        $row = $('tr.item' + id);
        $form = $('#AddForm');
        $form.find('input[name=ID]').val(id);
        $form.find('input[name=Name]').val($row.find('td:eq(0)').text());
        $form.find('input[name=Key]').val($row.find('td:eq(1)').text());
        $form.find('#typeName').val($row.find('td:eq(2)').text().split('|')[0]);
        $form.find('#typeLength').val($row.find('td:eq(2)').text().split('|')[1]);
        $form.find('input[name=Default]').val($row.find('td:eq(3)').text() == "Null" ? "" : $row.find('td:eq(3)').text());
        $form.find('select[name=Display] option').each(function (i, o) {
            $o = $(o);
            if ($o.text() == $row.find('td:eq(4)').text()) $o.prop('selected', true);
        })
        $form.find('input[name=Split]').val($row.find('td:eq(5)').text());
        $form.find('input[name=IsMultiple]').prop('checked', $row.find('td:eq(6)').text() == 'True');
        $form.find('input[name=IsNull]').prop('checked', $row.find('td:eq(7)').text() == 'True');
        $form.find('input[name=Description]').val($row.find('td:eq(8)').text().trim());
        $form.attr('action', "/entityAction_attr_edit.html");
        $form.find('input[type=button]').val('确定');
        var resetBtn = $form.find('input[type=button]').after('<input type="button" class="btn" id="reset_btn" onclick="ResetForm()" value="重置表单" />');
    }

    function ResetForm() {
        $form = $('#AddForm');
        $form.find('input[type=button]').val('新增');
        $form[0].reset();
        $form.find('#reset_btn').remove();
    }

    function UpdateContent() {
        $.ajax({
            url: window.location.href,
            success: function (data) {
                $data = $('.attrs', data);
                $('.attrlist .attrs').html($data.html());
            }
        })
    }
</script>