<% @SetData Name="PageClass" %>entityedit<% @End %>
<% @Include File="head.html" EnableScript="True" Config="admin_zh-cn" %>
<div class="innerLR innerT">
    <div class="widget widget-tabs widget-tabs-double">
		<!-- Widget heading -->
		<div class="widget-head">
			<ul>
                <% @Data Provider="Data" Name="TypeChain" %>
                    <xsl:if test="IsNeedInput = 'True'">
				        <li><a href="#Entity_{Key}" data-toggle="tab"><span class="strong"><xsl:value-of select="Name" /></span><span><xsl:value-of select="Description" /></span></a></li>
                    </xsl:if>
                <% @End %>
			</ul>
		</div>
		<!-- // Widget heading END -->
		<div class="widget-body">
			<div class="tab-content">
                <% @Data Provider="Data" Name="TypeChain" %>
                    <xsl:choose>
                        <xsl:when test="IsNeedInput = 'True'">
				            <div class="tab-pane" id="Entity_{Key}">
                                <xsl:value-of select="EditPage" disable-output-escaping="yes" />
				            </div>
                        </xsl:when>
                        <xsl:otherwise>
                            <div class="tab-pane" style="display:none">
                                <xsl:value-of select="EditPage" disable-output-escaping="yes" />
				            </div>
                        </xsl:otherwise>
                    </xsl:choose>
                <% @End %>
			</div>
		</div>
	</div>
</div>
<% @Include File="foot.html" EnableScript="True" Config="admin_zh-cn" %>
<script type="text/javascript">
    $('.widget-tabs .widget-head ul li a:first').click();
    if (window.location.href.toString().indexOf('#successed') != -1) notyfy({ text: "更新成功", type: 'information', layout: 'top', timeout:3000 });
</script>