<% @SetData Name="PageClass" %>entitylist<% @End %>
<% @SetData Name="PageCSS" PreEnableScript="True" %>
    <link rel="Stylesheet" type="text/css" href="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/plugins/forms/bootstrap-datetimepicker/css/datetimepicker.css" />
<% @End %>
<% @SetData Name="PageScript" PreEnableScript="True" %>
    <!-- http://ghusse.github.io/jQRangeSlider/documentation.html -->
    <script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/plugins/forms/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<% @End %>
<% @Include File="head.html" EnableScript="True" Config="admin_zh-cn" %>
<div class="innerLR innerT">
    <div class="widget">
        <div class="widget-head">
            <h3 class="heading">过滤条件</h3>
        </div>
        <div class="widget-body">
            <form id="FilterForm" method="post" action="<% @Tag Provider='Page' Name='Url' %>">
                <input type="hidden" name="PageIndex" value="<% @Tag Provider="Form" Name="PageIndex" Default="0" %>" />
                <input type="hidden" name="Filter" value="" />
                <div class="row-fluid">
                    <div class="span10">
                        <label>请选择显示字段</label>
                        <% @Data Provider="Data" Name="Attributes" %>
                            <a class="btn filterbtn filter{Key}" href="javascript:ToggleFilter('{Key}');" value="{Key}"><xsl:value-of select="Name" /></a>
                        <% @End %>
                    </div>
                    <div class="span2">
                        <label>请选择页面大小</label>
                        <select class="page-size" name="PageSize" onchange="UpdateContent(0)">
                            <option value="10">每页显示个数</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="row-fluid">
                    <a class="btn pull-right" href="javascript:UpdateContent()">确定</a>
                </div>
            </form>
		</div>
	</div>
    <div class="widget listwrap" style="display:none">
        <div class="widget-head">
            <h3 class="heading">当前的<% @Tag Provider="Data" Name="EntityType.Name" %>列表</h3>
        </div>
        <div class="widget-body">
            <div class="entities">
                <!-- Table -->
                <% @Data Provider="Data" Name="Attributes" XsltParameter=" { TypeName='Data:EntityType.Key' Ext='Config:ext' TypeID='Data:EntityType.ID' }" Xslt="entity_list.xslt" EnableScript="True" EnableCache="False" %>
            </div>
		</div>
	</div>
</div>
<% @Include File="foot.html" EnableScript="True" Config="admin_zh-cn" %>
<script type="text/javascript">
    $("#content").find("input[type=checkbox], textarea").uniform();

    function ToggleFilter(key) {
        $('a.filter' + key).button('toggle');
        $('input[name=Filter]').val('');
        var _filter = ''
        $('a.filterbtn').each(function (i, o) {
            $o = $(o);
            if ($o.hasClass('active')) _filter += $o.attr('value') + ',';
        })
        $('input[name=Filter]').val(_filter);
    }

    function UpdateContent(pageindex) {
        if (typeof pageindex != 'undefined') $('input[name="PageIndex"]').val(pageindex);
        $.ajax({
            url: "<% @Tag Provider='Page' Name='Url' %>",
            type: "POST",
            data: $('form#FilterForm').serializeArray(),
            success: function (data) {
                $data = $('.entities', data);
                $('.entitylist .entities').html($data.html());
                $('.listwrap').show();
            }
        })
        return false;
    }
</script>