<% @Include File="head.html" EnableScript="True" %>
<div class="innerLR innerT typelist">
    <div class="widget">
        <div class="widget-head">
            <h3 class="heading">过滤条件</h3>
        </div>
        <div class="widget-body">
            <form data-refresh-mode="self" data-refresh=".listwrap" method="post" action="<% @Tag Provider='Page' Name='Url' %>">
                <input type="hidden" name="PageIndex" value="<% @Tag Provider="Form" Name="PageIndex" Default="0" %>" />
                <input type="hidden" name="Filter" value="" />
                <div class="row-fluid">
                    <div class="span10">
                        <label>请选择显示字段</label>
                        <% @Data Provider="Data" Name="Attributes" %>
                            <a class="btn filterbtn filter_{TableKey}_{Key}" href="javascript:ToggleFilter('{TableKey}_{Key}');" value="{TableKey}.{Key}"><xsl:value-of select="Name" /></a>
                        <% @End %>
                    </div>
                    <div class="span2">
                        <label>请选择页面大小</label>
                        <select class="page-size" name="PageSize" onchange="UpdateContent(0)">
                            <option value="10">每页显示个数</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="row-fluid">
                    <input type="submit" class="btn pull-right" value="OK" />
                </div>
            </form>
		</div>
	</div>
    <div class="widget listwrap">
        <div class="widget-head">
            <h3 class="heading">当前的<% @Tag Provider="Data" Name="EntityType.Name" %>列表</h3>
        </div>
        <div class="widget-body">
            <div class="entities">
                <!-- Table -->
                <table class="table table-bordered table-mid" >
                    <thead>
                        <tr class="tableName">
                            <% @Data Provider="Data" Name="Attributes" Root="/" %>
                                <xsl:for-each select="DataTable/DataItem[Column>0]">
                                    <th colspan="{Column}">
                                        <xsl:value-of select="TableName" />
                                    </th>
                                </xsl:for-each>
                            <% @End %>
                        </tr>
                        <tr class="fieldName">
                            <% @Data Provider="Data" Name="Attributes" %>
                                <xsl:if test="IsShow = 'True'">
                                    <th><xsl:value-of select="Name" /></th>
                                </xsl:if>
                            <% @End %>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>
<% @Include File="foot.html" EnableScript="True" %>
<script type="text/javascript">
    function ToggleFilter(key) {
        $('a.filter_' + key).button('toggle');
        $('input[name=Filter]').val('');
        var _filter = ''
        $('a.filterbtn').each(function (i, o) {
            $o = $(o);
            if ($o.hasClass('active')) _filter += $o.attr('value') + ',';
        })
        $('input[name=Filter]').val(_filter);
    }
</script>