<!-- Regular Size Menu -->
<ul class="menu-0">
	<!-- Blank page template menu example -->
	<!-- Menu Regular Item (add class active to LI for an active menu item) -->
	<li class="glyphicons right_arrow"><a href="<% @Tag Provider='App' Name='BasePath' %>/dashboard.<% @Tag Provider="Config" Name="ext" %>"><i></i><span>Dashboard</span></a></li>
				
	<!-- Submenu Level 1 (active) -->
	<li class="hasSubmenu glyphicons right_arrow">
		<a data-toggle="collapse" href="#submenu-user"><i></i><span>User System</span></a>
		<ul class="collapse" id="submenu-user">
			<!-- Submenu Level 1 Regular Items -->
			<li><a href="<% @Tag Provider='App' Name='BasePath' %>/userPower_list.<% @Tag Provider="Config" Name="ext" %>"><span>Permissions</span></a></li>
			<li><a href="<% @Tag Provider='App' Name='BasePath' %>/userGroup_list.<% @Tag Provider="Config" Name="ext" %>"><span>Groups</span></a></li>
            <li><a href="<% @Tag Provider='App' Name='BasePath' %>/user_list.<% @Tag Provider="Config" Name="ext" %>"><span>Users</span></a></li>
			<!-- // Submenu Level 1 Regular Items END -->
		</ul>
	</li>
	<!-- // Submenu Level 1 (active) END -->
	<!-- // Blank page template menu example END -->
</ul>
<div class="clearfix"></div>
<!-- // Regular Size Menu END -->