.m0{ margin:0 !important;}
.mt0{ margin-top:0 !important;}
.mr0{ margin-right:0 !important;}
.mb0{ margin-bottom:0 !important;}
.ml0{ margin-left:0 !important;}
.mt10{ margin-top:10px !important;}
.mr10{ margin-right:10px !important;}
.mb10{ margin-bottom:10px !important;}
.ml10{ margin-left:10px !important;}
.p0{ padding:0 !important;}
.pt0{ padding-top:0 !important;}
.pr0{ padding-right:0 !important;}
.pb0{ padding-bottom:0 !important;}
.pl0{ padding-left:0 !important;}
.pt10{ padding-top:10px !important;}
.pr10{ padding-right:10px !important;}
.pb10{ padding-bottom:10px !important;}
.pl10{ padding-left:10px !important;}
.bold{ font-weight:bold}
.full{ width:100%;}

.table-mid td{ vertical-align:middle;}
.table-yes{ color:green;}
.table-no{ color:red;}

input.error,select.error,input[type="password"].error,input[type="text"].error,textarea.error{ border-color:#F00;}
label.error{ color:#F00;}
.notyfy_container{ z-index:10001; }
#menu .slim-scroll>ul.menu-0 ul li.current a, #menu>ul.menu-0 ul li.current a{ color:#8ec567; font-weight:bold;}

body.error{
	.glyphicons i:before { color: #C00;}
}
body.update{
	h1.glyphicons{ margin:40px 0 20px;}
	h1.glyphicons i:before{ top:8px;}
	.infoBox .message{ border:1px solid #CCC; background:#FCFCFC; padding:10px; margin-bottom:10px;}
	.infoBox .message span{ display:inline-block; width:20px;}
	.infoBox a.btn{}
}
body.login { 
	a.captcha{position:relative; top:-6px; left:20px;}
}
body.powerlist{
	.powerlist-line{margin-bottom:5px}
}
body.userlist{
	select.page-size{ width:100%;}
}
body.typelist{
	.typelistbox{ 
		width:1036px; margin-left:-518px;

		.modal-body{ max-height:none;}
	}
}
body.template_attr_edit{
	.CodeMirror{ border:1px solid #000000; }
	.resourceEditorWrap .CodeMirror{ height:100px;}
}
body.entityedit{
	.widget.widget-tabs-double .widget-head ul li a{ padding-left:10px; padding-right:10px;}
}




