<!-- Bootstrap -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="<% @Tag Provider="App" Name="ScriptPath" %>bootstrap/css/responsive.css" rel="stylesheet" type="text/css" />

<!-- Jquery UI -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
	
<!-- Glyphicons Font Icons -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/css/glyphicons.css" rel="stylesheet" type="text/css" />
	
<!-- Uniform Pretty Checkboxes -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

<!-- Notyfy Notifications Plugin -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/notifications/notyfy/themes/default.css" rel="stylesheet" type="text/css" />
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/notifications/notyfy/jquery.notyfy.css" rel="stylesheet" type="text/css" />


<!-- Gritter Notifications Plugin -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/notifications/Gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />

<!-- Main Theme Stylesheet :: CSS -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/css/style.min.css" rel="stylesheet" type="text/css" />

<% @Tag Provider="Data" Name="PageCSS" %>

<!-- Custom CSS-->
<link href="<% @Tag Provider="App" Name="CssPath" %>custom_compress.less" rel="stylesheet" type="text/css" />