<!-- Bootstrap -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="<% @Tag Provider="App" Name="ScriptPath" %>bootstrap/css/responsive.css" rel="stylesheet" />

<!-- Jquery UI -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
	
<!-- Glyphicons Font Icons -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/css/glyphicons.css" rel="stylesheet" />
	
<!-- Uniform Pretty Checkboxes -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />

<!-- Notyfy Notifications Plugin -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/notifications/notyfy/themes/default.css" rel="stylesheet" />
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/notifications/notyfy/jquery.notyfy.css" rel="stylesheet" />


<!-- Gritter Notifications Plugin -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/notifications/Gritter/css/jquery.gritter.css" rel="stylesheet" />

<!-- Main Theme Stylesheet :: CSS -->
<link href="<% @Tag Provider="App" Name="ScriptPath" %>theme/css/style.min.css" rel="stylesheet" />

<% @Tag Provider="Data" Name="PageCSS" %>

<!-- Custom CSS-->
<link href="<% @Tag Provider="App" Name="CssPath" %>custom.less" rel="stylesheet/less" />

<script type="text/javascript">
    less = {
        env: "development", // or "production"
        poll: 1000,         // when in watch mode, time in ms between polls
        dumpLineNumbers: "all", // or "mediaQuery" or "all"
    };
</script>
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/less.min.js"></script>