<!-- JQuery -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/jquery.min.js"></script>

<!-- JQueryUI -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>

<!-- JQueryUI Touch Punch -->
<!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- Modernizr -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/system/modernizr.js"></script>
	
<!-- Bootstrap -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>bootstrap/js/bootstrap.min.js"></script>

<!-- Bootstrap model extenstion -->
<script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>bootstrap/extend/bootbox.js"></script>
	
<!-- SlimScroll Plugin -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.min.js"></script>
	
<!-- Uniform Forms Plugin -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" %>theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

<!-- jQuery Validate Plugin -->
<script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/plugins/forms/jquery-validation/dist/jquery.validate.min.js"></script>
<!-- Notyfy Notifications Plugin -->
<script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/plugins/notifications/notyfy/jquery.notyfy.js"></script>
<!-- Gritter Notifications Plugin -->
<script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/plugins/notifications/Gritter/js/jquery.gritter.min.js"></script>
<!-- Ajax from -->
<script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/plugins/forms/jquery.ajax.form.js"></script>

<!-- Common Demo Script -->
<script src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>theme/scripts/demo/common.js"></script>

<% @Tag Provider="Data" Name="PageScript" %>

<!-- custom js -->
<script type="text/javascript" src="<% @Tag Provider="App" Name="ScriptPath" Config="default" %>custom.js"></script>

