<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <clear />
  </appSettings>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true">
    </compilation>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="None" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" fileEncoding="utf-8" />
    <httpCookies httpOnlyCookies="true" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="Profile" />
      <remove name="AnonymousIdentification" />
      <remove name="DefaultAuthentication" />
      <remove name="FileAuthorization" />
      <remove name="UrlMappingsModule" />
      <remove name="UrlAuthorization" />
      <remove name="RoleManager" />
      <remove name="FormsAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="Session" />
      <remove name="OutputCache" />
      <add name="XyHttpModule" type="Xy.Web.HttpModule" />
    </modules>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
